@font-face {
	font-family: 'jokerman';
	src: ("C:\users\hhgregg\desktop\secondtry");
}

@font-face {
	font-family: 'jokerman';
	src: ("C:\users\hhgregg\desktop\secondtry");
}

@font-face {
	font-family: 'jokerman';
	src: ("C:\users\hhgregg\desktop\secondtry");
}


#main {
	font-family: 'jokerman';
	src: ("C:\users\hhgregg\desktop\secondtry");
	font-size: 400px ;
	font-color:blue;


}

#main2 {
	font-family: 'curlz___';
	src: ("C:\users\hhgregg\desktop\secondtry");
	font-size: 400px ;
	font-color:blue;
}
