@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}

/* This is the element that we apply the animation to. */
.colorbox {
   -animation: slide 1s linear;
   -webkit-animation-name: example;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 2;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 200px;
   margin-top: 200px;
   height: 300px;
   width: 300px;
   font-family:Helvetica;
   font-size:20px ;
   animation-iteration-count: infinite;
}

.colorbox2 {
   -webkit-animation-name: example;
   -webkit-animation-duration:1s;
   -webkit-animation-timing-function:ease;
   -webkit-animation-delay: .5s;             /* 0 is the default */
   -webkit-animation-iteration-count: 2;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   margin-left: 100px;
   margin-top: 100px;
   height: 150px;
   width: 150px;
   background: yellow;
   animation-iteration-count:infinite;
}
