

                     #warped {position: relative; display: block; width:588pt; height:440pt;}

                     #warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
                     -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
                     100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

                     #warped span{font-family:'Lobster';font-size:38pt;font-weight:regular;font-style:normal;
                     line-height:3.3; white-space:pre; overflow:visible; padding:0px;}

                     #warped .w0 {-moz-transform: rotate(-7.85rad);-webkit-transform: rotate(-7.85rad);-o-transform:
                     rotate(-7.85rad);-ms-transform: rotate(-7.85rad); transform: rotate(-7.85rad);
                     width: 18pt; height: 125pt; left: 31pt; top: 93.8pt;}

                     #warped .w1 {-moz-transform: rotate(-7.8rad);-webkit-transform: rotate(-7.8rad);-o-transform:
                     rotate(-7.8rad);-ms-transform: rotate(-7.8rad); transform: rotate(-7.8rad);
                     width: 8pt; height: 125pt; left: 36.36pt; top: 82.09pt;}

                     #warped .w2 {-moz-transform: rotate(-7.77rad);-webkit-transform: rotate(-7.77rad);-o-transform:
                     rotate(-7.77rad);-ms-transform: rotate(-7.77rad); transform: rotate(-7.77rad);
                     width: 8pt; height: 125pt; left: 36.86pt; top: 75.29pt;}

                     #warped .w3 {-moz-transform: rotate(-7.74rad);-webkit-transform: rotate(-7.74rad);-o-transform:
                     rotate(-7.74rad);-ms-transform: rotate(-7.74rad); transform: rotate(-7.74rad);
                     width: 8pt; height: 125pt; left: 37.56pt; top: 68.66pt;}

                     #warped .w4 {-moz-transform: rotate(-7.67rad);-webkit-transform: rotate(-7.67rad);-o-transform:
                     rotate(-7.67rad);-ms-transform: rotate(-7.67rad); transform: rotate(-7.67rad);
                     width: 19pt; height: 125pt; left: 34.05pt; top: 55.93pt;}

                     #warped .w5 {-moz-transform: rotate(-7.59rad);-webkit-transform: rotate(-7.59rad);-o-transform:
                     rotate(-7.59rad);-ms-transform: rotate(-7.59rad); transform: rotate(-7.59rad);
                     width: 10pt; height: 125pt; left: 41.57pt; top: 42.92pt;}

                     #warped .w6 {-moz-transform: rotate(-7.54rad);-webkit-transform: rotate(-7.54rad);-o-transform:
                     rotate(-7.54rad);-ms-transform: rotate(-7.54rad); transform: rotate(-7.54rad);
                     width: 8pt; height: 125pt; left: 44.84pt; top: 35.32pt;}

                     #warped .w7 {-moz-transform: rotate(-7.49rad);-webkit-transform: rotate(-7.49rad);-o-transform:
                     rotate(-7.49rad);-ms-transform: rotate(-7.49rad); transform: rotate(-7.49rad);
                     width: 10pt; height: 125pt; left: 46.41pt; top: 28.03pt;}

                     #warped .w8 {-moz-transform: rotate(-7.41rad);-webkit-transform: rotate(-7.41rad);-o-transform:
                     rotate(-7.41rad);-ms-transform: rotate(-7.41rad); transform: rotate(-7.41rad);
                     width: 17pt; height: 125pt; left: 47.71pt; top: 16.82pt;}

                     #warped .w9 {-moz-transform: rotate(-7.33rad);-webkit-transform: rotate(-7.33rad);-o-transform:
                     rotate(-7.33rad);-ms-transform: rotate(-7.33rad); transform: rotate(-7.33rad);
                     width: 8pt; height: 125pt; left: 57.72pt; top: 6.43pt;}

                     #warped .w10 {-moz-transform: rotate(-7.26rad);-webkit-transform: rotate(-7.26rad);-o-transform:
                     rotate(-7.26rad);-ms-transform: rotate(-7.26rad); transform: rotate(-7.26rad);
                     width: 12pt; height: 125pt; left: 60.41pt; top: -1.01pt;}

                     #warped .w11 {-moz-transform: rotate(-7.19rad);-webkit-transform: rotate(-7.19rad);-o-transform:
                     rotate(-7.19rad);-ms-transform: rotate(-7.19rad); transform: rotate(-7.19rad);
                     width: 8pt; height: 125pt; left: 67.99pt; top: -8.63pt;}

.dumbboy {
       background: blue;
       width:200px;
       height:200px;
}