body {padding:50px;}

div{
  cursor:move;
  width:70px;
  height:70px;
  background-color:green;
  border:1px solid black;
  margin:2px;
  float:left;
}


#green{
  cursor:move;
  width:70px;
  height:70px;
  background-color:green;
  border:1px solid black;
  margin:2px;
  float:left;
}

#red{
  cursor:move;
  width:70px;
  height:70px;
  background-color:red;
  border:1px solid black;
  margin:2px;
  float:left;
}

#blue{
  cursor:move;
  width:70px;
  height:70px;
  background-color:blue;
  border:1px solid black;
  margin:2px;
  float:left;
}


#pink{
  cursor:move;
  width:70px;
  height:70px;
  background-color:pink;
  border:1px solid black;
  margin:2px;
  float:left;
}


.draggable {
  background-color:#33ff77;
}
