body {        
	background:#black;
}


#container {
	

 width:1000px;
 height:2000px;


}


#black {
	width:1000;
	height: 1000;
	float:left;
}

#green {
	width:;
	height:;
	float:left;
	margin-left:20px;
	background:white;
}



#pink{
	width:600px;
	height:;
	margin-bottom:20px;
