
body {
  background-color: black;
  font-family: helvetica;
  color:white;
  vertical-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top:50px;
}


 #texting{
  font-family:"garamond" ;
  position: absolute;
  float: right;
  height:50px;
  opacity: .5;
  padding-right: 500px;
  padding-left: 300px;

 }


#wrong{
  font-family:"garamond" ;
  position: absolute;
  float: right;
  height:50px;
  opacity: .5;
  padding-right: 500px;
  padding-left: 300px;

 }
.slider {
  height: 20px;
  font-size: 16px;
  font-family: helvetica;
  color:white;
  overflow: hidden;
  background-color: black;
  opacity: 0.6;
  bottom:center;
  float: center;
  padding-right: 500px;
  padding-right: 500px;
}


.slider div, .slider div p {
  margin: 0;
  padding: 0;
}

.slider div {
  animation: slide 10s 2s infinite;
}

@keyframes slide {
  0% { margin-top: 0; }
  25% { margin-top: -18px; }
  50% { margin-top: -36px; }
  75% { margin-top: -54px; }
  100% { margin-top: 0; }

  @import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);



.svg {
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden;
  ve
  margin: 0 center;
  background: black;
  padding-left: 50px;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}

@-webkit-keyframes example {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }

}


.background {
  background-image: url(http://i.kinja-img.com/gawker-media/image/upload/s--knb91vr4--/c_scale,fl_progressive,q_80,w_800/192lbdifs7dobjpg.jpg);
  border-radius: 20px;
  height: 300px;
  position: relative;
  min-width: 1000px;
  margin-left: 200px;
   margin-top: 200px;
   height: 300px;
   width: 300px;
   font-family:Helvetica;
   font-size:100px ;
   padding-right: 50px;
   padding-right: 60px;
}


.text {
  filter: url(#filter);        
  fill: white;       
   font-family: garamond;       
   font-size: 100px;        
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }



@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}


html,
body {
  height: 100%;
  width: 100%;
}


@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: #f4d112;
    border-radius: 100%;
  }
  50% {
    background-color: #0fdf45;
  }
  100% {
    transform: scale(1.5);
    background-color: #28b4e8;
  }
}

body,
html {
  height: 100%;
}

body {
  display: flex;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideoutright {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

.text--line {
  font-size: .5em;
  }

.ebene_1 {
  position: static;
  width: 100%;
  height: 100%;
  padding-right: 50px;
  padding-left: 50px;
  }

$max: 5;
$stroke-step: 7%; 
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 3px;
  
  animation: stroke-offset 9s infinite linear;
  
  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);
    
    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
      }
    }
  }

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: $stroke-step * $max;  
    stroke-dasharray: 0 $stroke-step * $max*2.5;
  }

.filter{
  position: static;
  height:100%;
  width: 100%;
  padding-left: 500px;
  padding-right: 500px;


}

#ff{
  background-color: lightgreen;
  font-family: ("garamond");
  }
#minitxt {
       width:100%;
       height:100%;
       font-family: "garamond";
       text-decoration: underline;
       position: absolute;
       float: right;
       color:white;
       padding-left: 50px;
       padding-right: 50px;
}

#glitch{
  color:white;
  font-size:50px;
  font-family:garamond;
  position:relative;
  width:400px;
  margin:0 auto;
  padding-left: 40px;
  padding-right: 50px;
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}
@import "compass/css3";
@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

.svg {
  width:200px;
  height: 200px;
  font size:20px;
  display: block;
  position: relative;
  font-size: 30px;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
  padding-left: 50px ;
  padding-right: 50px;
}

.svg {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
  padding-left: 1050px;
  padding-right: 2000px;
}

.ebene_2 {
  position: static;
  width: 150%;
  height: 100%;
  }

  .symbol {
    padding-right: 1000px;
    padding-left: 1000px;
  }

